# Compiled class file
*.class

# Angular modules folder
node_modules/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Python virtual environment folder
venv/

# Python Scrapy cache folder
.scrapy/
