/*######################################*/
/*## Rules for the <body> of the page ##*/
.container {
    margin: 0 auto;
    width: 70%;
}

/*#######################################*/
/*## Rules for the content of the page ##*/
.content {
    padding: 10px 20px 0 20px;
}

/*###############################################*/
/*## Rules for the breadcrumb below the banner ##*/
.ui-breadcrumb {
    margin-top: 12px;
}
