<div class="ui-g prod-detail-container">
    <div class="ui-g-4">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

    <div class="ui-g-8">
        <h1>{{product.name}}</h1>

        <!-- TODO: check in the database for availability -->
        <p>Availability: In Stock</p>
        <h2>Price: ${{product.price}}</h2>
        <hr/>
        <div>
            <label>Quantity:</label>
            <p-button icon="pi pi-minus" (onClick)="decreaseQuantity()"></p-button>
            <input title="quantity" type="text" pKeyFilter="int" [min]="minProductQuantity" [value]="productQuantity">
            <p-button icon="pi pi-plus" (onClick)="increaseQuantity()"></p-button>

            <p-button class="btn-add-to-chart" label="ADD TO CHART"></p-button>
        </div>
    </div>

    <div class="ui-grid-col-12 similar-product">
        <app-showcase [autoPlayInterval]="0" headerText="Related Products"></app-showcase>
    </div>

    <div class="ui-grid-col-12">
        <div>
            <h3>Description</h3>
            <p>{{product.description}}</p>
        </div>

        <div>
            <p-table [value]="specifications">
                <ng-template pTemplate="body" let-specification>
                    <tr>
                        <td>{{specification.spec}}</td>
                        <td>{{specification.value}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
